.taskCard{
  background: lightgray;
  border: 1px solid black;
  border-radius: 1vw;



  .priorityAssigneesWrap{
    margin: 1vw 0 0 1vw;
    justify-content: space-between;
    padding: 0  1vw 0 0 ;

    .avatarWrap{
      align-items: center;
      justify-content: center;
    }
    .actions {
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: color, border 0.3s ease-in-out;

      &:hover{
        color: aqua;
      }
    }
  }

  .taskHeader{
    align-items: flex-start;
    justify-content: flex-start;


    h4,h3,p {
      text-align: left;
      margin : 1vw 0 0 1vw;
    }

    p{
      font-size: 0.8vw;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
      word-wrap: break-word;
      
    }

  }


}