.artificialScroll{
  width: 2.5vw;
  position: fixed;
  top: 32.5vh !important;
  left: 2vw;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  z-index: 11000;
  color : white;
  

  .listOfNr{
    height: 6vh;
    width: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    border-radius: 50%;    

    .artificialScrollItem {
      position: absolute;
      opacity: 0;
    }

    .currentNr{
      opacity: 1;
    }


  }
  .arrowDownArtScroll{
    width: 5vw;
    color: #7eef9f;
    height: 5vw;
    cursor: pointer;

    &:hover{
      color: black;
    }

  }
}

