.fc-today-button {
  color: black !important;
  font-weight: 700 !important;
}

.fc-button-group .fc-icon {
  color: black !important;
  font-weight: 100 !important;
}

.fc-event {
  color: black !important;
}
