

.footerContainer {

  width: 100vw;
  position: relative;
  font-weight: 600;

  height: 100vh;
  align-items: center;
  justify-content: center;

  .partnersTitle{
    font-size: 3.5vw;
    font-weight: 600 !important;
    margin-bottom: 5vh;
    text-shadow: 1px 1px 1px black;
  }

  .socialLinks{
   ul{
    margin-left: 0.75vw !important;
    align-items: flex-end !important;
    justify-content: flex-end !important;
   }
  }

  .footerSection {
    justify-content: center;
    width: 100%;
    gap: 15vw;
    margin-top: 3vh;
    height: 50%;
    color: black !important;
    background-color: #1fd6ff25;
    padding: 2vh 0;

    .footerColumn {
      align-items: flex-start;
      justify-content: flex-start;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        li {
          margin: 0;

          &:hover {
            color: #7eef9f;
            cursor: pointer;
          }
        }

      }
    }


  }



  .partnersSection {
    width: 80%;
    box-shadow: 3px 3px 3px black;
    height: 50%;
    border-radius: 3vw;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
    gap: 4.5vw;
    background-color: #1fd6ff25;


    .partnerIcon {
      width: 6vw;
      height: 6vw;
      border-radius: 25%;
      box-shadow: 1px 2px 3px black;
      object-fit: contain;
      align-items: center;
      
      cursor: pointer;
      transition: box-shadow 0.2s ease;      

      &:hover {
        box-shadow: 3px 3px 3px black;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        border-radius: 25%;
      }
    }
  }
}